{% extends "base.html" %}
{% set page_title = "Blog posts" %}

{% block head %}
<link rel="alternate" type="application/rss+xml" title="RSS feed for Tris's blog" href="{{ url_for("rss") }}">
{% endblock %}

{% block header %}
<span><a href="/">tris.fyi</a></span> &gt; blog
<h1>Blog posts</h1>
<p>...and a lab notebook, and some random thoughts, and some pretty deeply personal stuff that I wanted to put somewhere. Mostly those last few things, actually.</p>
<p>now available <a href="{{ url_for("rss") }}">as an RSS feed!</a></p>
{% endblock %}

{% block content %}
{% for year, year_posts in posts %}
<h2>{{ year }}</h2>
<ul class="mediummargins nobullet">
    {% for slug, meta in year_posts %}
    <li>
        <a href="{{ url_for("post", slug=slug) }}"><strong>{{ meta.posted_on.strftime("%B %d") }}:</strong> {{ meta.title|safe }}</a>
    </li>
    {% endfor %}
</ul>
{% endfor %}
{% endblock %}
