{% extends "base.html" %}
{% set page_title = "bookmarks" %}
{% set page_description = "tris's public bookmarks list, with links to stuff she finds useful and/or interesting" %}

{% macro render_bookmark(item) %}
<li>
    {{ render_markdown_with_link_shorthand(item.text, item)|safe }}
    <br />
    <span class="item-meta">
        {{ item.created }}
        {% if item.tags[1:] %}
        {% for tag in item.tags[1:] %}
        <span class="tag">#{{ tag }}</span>
        {% endfor %}
        {% endif %}
    </span>
</li>
{% endmacro %}

{% macro render_bookmarks(tag) %}
<ul class="bookmarks">
    {% for item in find_items("bookmark", tags=[tag]) %}
    {{ render_bookmark(item) }}
    {% endfor %}
</ul>
{% endmacro %}

{% block header %}
<span><a href="/">tris.fyi</a> &gt; bookmarks</span>
<h1>bookmarks</h1>
{% endblock %}
{% block content %}
<nav>
    <a href="#pubs">publications</a> &middot;
    <a href="#recipe">recipes</a> &middot;
    <a href="#music">music</a> &middot;
    <a href="#data">data/maps</a> &middot;
    <a href="#misc">random</a>
</nav>
<div class="flex-row">
    <input type="text" id="search" placeholder="search bookmarks... (requires javascript)" autofocus />
</div>

<section id="pubs">
    <h2>cool blogposts/papers/articles/publications</h2>
    {{ render_bookmarks("pubs") }}
</section>

<section id="recipe">
    <h2>recipes</h2>
    {{ render_bookmarks("recipe") }}
</section>

<section id="music">
    <h2>music</h2>
    {{ render_bookmarks("music") }}
</section>

<section id="data">
    <h2>data, maps, and data/mapping tools</h2>
    {{ render_bookmarks("data") }}
</section>

<section id="misc">
    <h2>random other stuff</h2>
    {{ render_bookmarks("misc") }}
</section>

<script>
    var targetLink;

    function rehighlight() {
        var el = document.querySelector(".highlight");
        if(el) {
            el.classList.remove("highlight");
        }

        if(location.hash) {
            var allowedSection = location.hash.slice(1);
            el = document.getElementById(allowedSection);
            if(el) {
                console.log(el);
                el.scrollIntoView();
                el.classList.add("highlight");
            }
        }
    }
    rehighlight();
    window.addEventListener("hashchange", rehighlight);

    function textMatch(needle, haystack) {
        var words = needle.split(" ");

        for(var i = 0; i < words.length; i++) {
            if(haystack.indexOf(words[i]) === -1) {
                return false;
            }
        }

        return true;
    }

    function searchBookmarks() {
        var query = document.getElementById("search").value.toLowerCase();

        var visibleLinks = 0;

        targetLink = null;
        document.querySelectorAll("section").forEach(function(section) {
            var sectionHasContent = false;

            section.querySelectorAll("li").forEach(function(li) {
                if(!textMatch(query, li.innerText.toLowerCase())) {
                    li.style.display = "none";
                }
                else {
                    li.style.display = "list-item";
                    visibleLinks++;
                    sectionHasContent = true;

                    if(!targetLink) targetLink = li.querySelector("a");
                }
            });

            if(sectionHasContent) {
                section.style.display = "block";
            }
            else {
                section.style.display = "none";
            }
        });
    }

    function tryNavigateToBookmark(event) {
        if(event.key === "Enter") {
            if(targetLink) {
                targetLink.click();
            }
        }
    }

    var searchBox = document.getElementById("search");
    searchBox.addEventListener("keydown", tryNavigateToBookmark);
    searchBox.addEventListener("keydown", searchBookmarks);
    searchBox.addEventListener("keyup", searchBookmarks);

    searchBox.value = "";
    searchBox.focus();
</script>
{% endblock %}
