{% extends "base.html" %}
{% set page_title = "Tris Emmy Wilson" %}

{% block header %}
<div style="vertical-align: middle; display: flex;">
    <div style="display: block; font-size: 2em; font-weight: 900; margin-right: 0.3em;">
        cool tris facts
    </div>
    <div style="height: 3em; display: block">
        <img style="height: 100%;" src="{{ url_for('static', filename='turtlewitchbroom.png') }}" />
    </div>
</div>
{% endblock %}

{% block content %}
<div>
    <ul class="list-margins">
        <li>
            <strong>tris emmy wilson</strong> <em>(she/her)</em> is trying her best, going places, doing things
            <ul>
                <li>mostly in the greater Boston area, but Huntsville (AL) is still home</li>
                <li>admiring infrastructure</li>
                <li>riding trains</li>
                <li>misses being able to see the stars</li>
            </ul>
        </li>
        <li>sometimes takes <a href="https://glass.photo/tris">pictures of said places and things</a></li>
        <li>maintains <a href="/bookmarks.html">a public bookmarks list</a></li>
        <li>occasionally writes in her <a href="/blog">blog/lab notebook/random thoughts container</a></li>
        <li>can be reached via email at <a href="mailto:tris@tris.fyi">tris@tris.fyi</a>, and on the fediverse at <a rel="me" href="https://tacobelllabs.net/@tris">Taco Bell Labs</a> (I love meeting interesting new folks, feel free to say hi!)</li>
        <li><a target="_blank" href="https://www.openstreetmap.org/user/Tris%20Wilson">casual OpenStreetMap editor</a>, geospatial data hobbyist (competent with <a _target="blank" href="https://www.qgis.org/">QGIS</a>)</li>
        <li>proud member of IFPTE Local 70, the <a target="_blank" href="https://npeu.org">Nonprofit Professional Employees Union</a>!</li>
        <li>
            volunteer organizing and related projects with <a target="_blank" href="https://altrac.works">ALTRAC</a> (the Alabama Trans Rights Action Coalition) and various allied organizations
        </li>
        <li>still unapologetically queer and trans</li>
    </ul>
</div>

<section>
    <h2>other stuff I made</h2>
    <ul class="bigmargins">
        <li><a href="/blog/legal-name.html">changing your legal name in Madison County, Alabama</a></li>
        <li><a href="/blog/every-commuter-railroad.html">riding every commuter railroad on the Northeast Corridor in the same day</a></li>
        <li><a href="/blog/mbta-cab-signaling-indicator.html">turning MBTA Red Line cab signaling equipment into a car speedometer</a> (with <a href="https://philo.gay">Philo</a>)</li>
        <li><a href="/wmata">almost every WMATA 7000-series train announcement</a></li>
        <li><a href="/towns.html">even worse Massachusetts town names</a></li>
        <li><a href="/yeah.html">a little css toy</a></li>
        <li><a href="/dish">22:22 bake a dish</a></li>
        <li><a href="/speedrun/">MBTA speedrun records</a></li>
        <!--
        <li><a href="https://districts.socialism.gay">districts.socialism.gay</a>, a tool for matching geographic coordinates to united states legislative districts (state level and congressional)</li>
        <li><a href="https://doesthegreenline.work">does the green line work?</a> (spoiler: probably not)</li>
        -->
    </ul>
</section>
<hr>
<div>
    <p><strong>cookie policy:</strong> the author of this website likes them, mostly oatmeal raisin but others are ok too. please give her some</p>
</div>
{% endblock %}

{% block footer %}
<hr>
<a href="https://tris.fyi"><img src="{{ url_for("static", filename="badges/tris.png") }}" alt="tris"></a>
<a href="https://altrac.works"><img src="{{ url_for("static", filename="badges/altrac.png") }}" alt="Alabama Trans Rights Action Coalition"></a>
<a href="https://philo.gay"><img src="{{ url_for("static", filename="badges/philo.png") }}" alt="philo"></a>
<a href="https://pixilic.com/?ref=clicky"><img src="{{ url_for("static", filename="badges/hunter.png") }}" alt="hunter"></a>
<a href="https://miakizz.quest"><img src="{{ url_for("static", filename="badges/miakizz.png") }}" alt="nkizz"></a>
<a href="https://breq.dev"><img src="{{ url_for("static", filename="badges/breq.png") }}" alt="brooke"></a>
<a href="https://adryd.com"><img src="{{ url_for("static", filename="badges/adryd.png") }}" alt="ari"></a>
<a href="https://izzy.horse"><img src="{{ url_for("static", filename="badges/izzyhorse.png") }}" alt="izzy dot horse"></a>
<a href="https://avasilver.dev"><img src="{{ url_for("static", filename="badges/ava.png") }}" alt="ava"></a>

<script src="/static/oneko-webring.js"></script>
{% endblock %}
