{% if meta.wide %}{% set wide=true %}{% endif %}

{% extends "base.html" %}
{% if meta.subtitle %}
{% set page_title = (meta.title + ": " + meta.subtitle)|safe %}
{% else %}
{% set page_title = meta.title|safe %}
{% endif %}
{% if meta.summary %}{% set page_description = meta.summary %}{% endif %}

{% block head %}
<link rel="stylesheet" href="{{ url_for("static", filename="pygments.css") }}">
{% if meta.og_props %}
{% for prop, value in meta.og_props.items() %}
    <meta property="og:{{ prop }}" content="{{ value }}" />
{% endfor %}
{% endif %}
{% endblock %}

{% block header %}
<span><a href="/">tris.fyi</a> &gt; <a href="/blog/">blog</a> &gt;</span>
<div class="header">
    <h1>{{ meta.title|safe }}</h1>
    {% if meta.subtitle %}<h2>{{ meta.subtitle|safe }}</h2>{% endif %}
    <p>
    {% if meta.author is defined %}
    written by {{ meta.author|default("Tris Emmy Wilson")|safe }} &middot;
    {% endif %}
    {% if meta.updated_on %}
    posted {{ meta.posted_on }}; last updated {{ meta.updated_on }}
    {% else %}
    posted {{ meta.posted_on }}
    {% endif %}
    </p>
</div>

{% if has_sidenotes|default(False) %}
<p id="sidenotes-note">This article has sidenotes! You may need to scroll horizontally to view them.</p>
{% endif %}

{% if toc and meta.show_toc|default(true) %}
<details style="border: 1px solid; padding: 1em; margin: 1em 0;">
    <summary>Table of Contents</summary>
    {{ toc|safe }}
</details>
{% else %}
<hr />
{% endif %}
{% endblock %}

{% block content %}
{{ post|safe }}

<script>
    var buttons = document.getElementsByTagName("button");
    for(var i = 0; i < buttons.length; ++i) {
        buttons[i].addEventListener("click", function() {
            this.style.display = "none";
            var text = this.parentElement.querySelector("small");

            text.style.display = "inline";
            text.style.padding = "0.5rem";
        });
    }
</script>
{% endblock %}
