{% extends "base.html" %}
{% set page_title = meta.title|safe %}
{% if meta.summary %}{% set page_description = meta.summary %}{% endif %}

{% block head %}
<link rel="stylesheet" href="{{ url_for("static", filename="pygments.css") }}">
{% if meta.og_props %}
{% for prop, value in meta.og_props.items() %}
    <meta property="og:{{ prop }}" content="{{ value }}" />
{% endfor %}
{% endif %}
{% endblock %}

{% block header %}
<span><a href="/">tris.fyi</a> &gt; <a href="/blog/">blog</a> &gt;</span>
<h1>{{ meta.title|safe }}</h1>
<div>
    {% if meta.author is defined %}
    written by {{ meta.author|default("Tris Emmy Wilson")|safe }}<br />
    {% endif %}
    <em>
        {% if meta.updated_on %}
        posted {{ meta.posted_on }}; last updated {{ meta.updated_on }}
        {% else %}
        posted {{ meta.posted_on }}
        {% endif %}
    </em>
</div>
{% if has_sidenotes|default(False) %}
<p id="sidenotes-note">This article has sidenotes! You may need to scroll horizontally to view them.</p>
{% endif %}

<hr />
{% if toc and meta.show_toc|default(true) %}
<details>
    <summary>Table of Contents</summary>
    {{ toc|safe }}
</details>
<hr />
{% endif %}
{% endblock %}

{% block content %}
{{ post|safe }}

<script>
    var buttons = document.getElementsByTagName("button");
    for(var i = 0; i < buttons.length; ++i) {
        buttons[i].addEventListener("click", function() {
            this.style.display = "none";
            var text = this.parentElement.querySelector("small");

            text.style.display = "inline";
            text.style.padding = "0.5rem";
        });
    }
</script>
{% endblock %}
